@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@theme inline {
  /* colors */
  --color-primary: #34967c;
  --color-primary-100: #f0fffb;
  --color-secondary: #ffa800;
  --color-gray-50: #e9e9e9;
  --color-gray-100: #f6f6f6;
  --color-gray-200: #ececec;
  --color-black: #161117;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* end colors */

  /* font family*/
  --font-quicksand: "Quicksand", san-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
  /* end font family */

  /* mobile screen size */
  --text-sm: 10px;
  --text-sm1: 11px;
  --text-sm2: 12px;
  --text-sm3: 13px;
  --text-sm4: 14px;
  --text-base1: 17px;
  --text-base2: 18px;
  --text-base3: 19px;
  --text-base: 16px;
  --text-lg: 20px;
  --text-lg1: 22px;
  /* end mobile screen size */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    @apply text-base font-quicksand font-regular;
  }
}

@layer components {
  form {
    @apply border-2 border-gray-100 flex rounded-4xl px-3 py-2 max-md:flex-1;
  }

  .large-form-grid {
    @apply hidden md:grid md:grid-cols-5;
  }

  .small-form-grid {
    @apply lg:hidden;
  }

  .small-form-input {
    @apply grid grid-cols-3 md:hidden;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .divider {
    @apply w-[.5px] h-8 bg-gray-200;
  }

  .headerFormInput {
    @apply block outline-none text-sm3;
  }
}
